*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact{
    width: 100%;
    min-height: 100vh;
    background-image: url(ressources/bg2.jpg) ;
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
.contactform{
    width: 100%;
    min-height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    overflow: hidden;
    position: relative;
    flex-direction: column;
}
.logo{
    width: 140px;
}
nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    position: relative; /* Required for positioning pseudo-elements */
    padding: 5px 0; /* Add some vertical padding to accommodate the underline */
}

/* Underline effect */
nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Position at the bottom of the link */
    width: 0;
    height: 2px;
    background: #0054ad; /* Color of the underline */
    transition: width 0.3s ease; /* Smooth transition for the underline */
}

/* Expand underline on hover */
nav ul li a:hover::after {
    width: 100%; /* Expands the underline to full width on hover */
}

.anim {
    opacity: 0;
    transform: translateY(-50px); /* Start from above */
    animation: slideIn 0.8s ease-out forwards;
}

/* Keyframes for smooth slide-in */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px); /* Start off-screen */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the final position */
    }
}

.contactform .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #000f52;
}
.contact .content p{
    font-weight: 500;
    color: #000f52;

}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;

}
.container .contactform .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #ad2e2e;
    flex-direction: column;
    font-weight: 300;

}
.container .contactinfo .box .text h3{
    font-weight: 500;
    color: #0054ad;
}





















